$darkActiveMask: rgba(255, 255, 255, 0.1);
$darkHoverMask: rgba(255, 255, 255, 0.1);
$lightActiveMask: rgba(0, 0, 0, 0.1);
$lightHoverMask: rgba(0, 0, 0, 0.2);

div.windows-titlebar {
	display: block;
	height: 32px;
	position: absolute;
	width: calc(100% - 2px);
	-webkit-app-region: drag;

	>div.buttons {
		display: grid;
		grid-template-columns: repeat(3, 46px);
		height: 32px;
		position: absolute;
		right: 0;
		top: 0;
		-webkit-app-region: no-drag;

		>div {
			align-items: center;
			display: flex;
			grid-column: 2;
			grid-row: 1 / span 1;
			height: 100%;
			justify-content: center;
			user-select: none;
			width: 100%;

			&:not(:hover):not(:active) {
				transition: background 0.2s ease-out;
			}
			img {
				@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5), (-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
					width: 10px;
					height: 10px;
				}
			}
			&:hover:last-child {
				background: #E81123 !important;
			}
			&:active:last-child {
				background: #F1707A !important;
			}
			&:first-child {grid-column: 1 !important;}
			&:nth-child(2) {display: none;}
			&:last-child {grid-column: 3 !important;}
		}
	}
}
body.maximized div.windows-titlebar>div.buttons {
	>div:nth-child(2) {display: flex !important;}
	>div:nth-child(3) {display: none !important;}
}
div.windows-titlebar.dark>div.buttons>div:not(:last-child) {
	&:active {background: $darkActiveMask;}
	&:hover {background: $darkHoverMask;}
}
div.windows-titlebar.light>div.buttons>div:not(:last-child) {
	&:active {background: $lightActiveMask;}
	&:hover {background: $lightHoverMask;}
}
div.windows-titlebar.light>div.buttons>div:last-child:hover>img {filter: invert(1);}
div.windows-titlebar.light>div.buttons>div:last-child:active>img {filter: invert(1);}